# Node
node_modules/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Temp
*.log
tmp/
temp/

# Temp scripts
write-readme.js
schema/appender.js

# Temp/test files
_*.js
test-*
write-*.js
schema/appender.js
*.log

# Build scripts
_fx.txt
_fix*.js
_gen*.js
_do_*.js
_build*.js
